<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "app/base.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead"><center><b>India ka BlissShop</b></center><br>
        Our approach from Day 1 was to digitise businesses of all sizes to enable the largest selection of products, use technology to remove inefficiencies and unlock greater value for customers.
        
        However, this approach needed learning, adapting, and innovating for India every day. In those days, customer trust and familiarity with online shopping wasn’t what it is today. We knew we had to give customers an experience that would convince them to make online shopping a habit.</p>
    <hr class="my-4">
    <p><center>Explore our Website.</center></p>
    <p class="lead">
    <center>
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </center>  
    </p>
  </div>

  
</body>

</html>
